* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

dialog h1 {
    font-size: 1.3em;
    margin: 0.3em 0;
}

dialog h4 {
    font-size: 0.9em;
    margin: 0.4em 0;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 500px) {
    section h1 {
        font-size: 20px;
    }
}