* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

.pokemonDetailDialogModal {
    border-radius: 1rem;
    border: none;
    width: 300px;
    height: 540px;
    padding: 0;
}

#btnClosedDialogPokemonDetail {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    border-radius: 1rem;
    color: #FFFFFF;
    font-size: 0.9rem;
    padding: 3px;
}

#btnClosedDialogPokemonDetail:focus {
    outline: none;
    border: none;
}

#pnlDialogPokemon {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.divDialogPokemonTop {
    height: 40%;
    padding: 12px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.divDialogPokemonBottom {
    height: 60%;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.divCabecalhoDialogPokemonDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

dialog h1 {
    font-size: 1.3em;
    margin: 0.5em 0;
}

dialog h4 {
    font-size: 0.9em;
    margin: 0.4em 0;
}

.divTituloTiposDialogPokemonDetail {
    display: flex;
    flex-direction: column;
}

.divIdDialogPokemon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 500px) {
    section h1 {
        font-size: 20px;
    }
}